@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply text-gray-800 font-inter
}
.main.active{
    @apply md:w-full md:ml-0
}
.child.active,
.parent.active{
    @apply text-blue-500
} 
  
/* scrollar width */
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #a3a3c2; */
    background: #CECECE;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
